*{
    padding:0;
    margin:0;
}

.body{
    background: url('../img/bg.jpg');
    min-height: 100vh;
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.board{
    background: linear-gradient(rgb(170,236,170), rgb(236,236,167));
    width: 90vmin;
    height: 92vmin;
    border: 2px solid black;
    display: grid;
    grid-template-columns: repeat(18, 1fr);
    grid-template-rows: repeat(18, 1fr);
}

.head{
    background: linear-gradient(red, yellow);
    border: 2px solid purple;
    transform: scale(1.02);
    border-radius: 10px;
}

.snake{
    background-color: purple;
    border: .25vmin solid white;
    border-radius: 12px;
}

.food{
    background: linear-gradient(red, purple);
    border: .25vmin solid white;
    border-radius: 8px;
}